<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Rainbow</string>
		<key>description</key>
		<string>The full rainbow represents a continuum of visible light. </string>
		<key>image</key>
		<string>full spectrum.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Aluminum</string>
		<key>description</key>
		<string>Aluminum’s emission spectrum can be revealed when electric current flows through gaseous aluminum, exciting the atom’s electrons.</string>
		<key>image</key>
		<string>Aluminum_Spectra.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Argon</string>
		<key>description</key>
		<string>Plasma balls – the popular novelty items often found in science museums – combine electricity and noble gases like Argon to generate visible plasma (ionized gas). Scientists also use argon for blue and green laser light.</string>
		<key>image</key>
		<string>Argon_Spectrum.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Barium</string>
		<key>description</key>
		<string>Chemistry students may remember “flame tests” conducted on elements including barium. When burned, barium compounds will reveal a light green flame due to its emission spectrum.</string>
		<key>image</key>
		<string>barium.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Black Light</string>
		<key>description</key>
		<string>Blacklights primarily emit ultraviolet light that can’t be seen by the human eye, but this ultraviolet radiation can, in turn, cause other substances to emit visible light. Different blacklights use different substances for a variety of applications including forensics, medicine and recreation.</string>
		<key>image</key>
		<string>black light.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Calcium</string>
		<key>description</key>
		<string>Although calcium has not been frequently used in lighting, calcium coumpounds were used to create acetylene – a compound formerly used widely for lighthouses, car lights and mining lamps. </string>
		<key>image</key>
		<string>Calcium_Spectrum.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Carbon</string>
		<key>description</key>
		<string>All known living things depend on carbon atoms, but its emission spectrum has not proved useful in discharge lighting.</string>
		<key>image</key>
		<string>Carbon_Spectra.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Compact Florescent White</string>
		<key>description</key>
		<string>Compact Fluorescent Lights primarily rely on the discharge of mercury gas and various phosphors to produce light. When combined with other noble gases, mercury discharges can produce a variety of visible light.</string>
		<key>image</key>
		<string>compact fluorescent white.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Compact Fluorescent Yellow</string>
		<key>description</key>
		<string>A yellow CFL uses an optical filter that absorbs most visible light except for yellow light</string>
		<key>image</key>
		<string>compact fluorescent yellow.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Computer Monitor</string>
		<key>description</key>
		<string>The emission spectrum of a computer monitor that relies on RGB color model. The Red, Green and Blue (RGB) model uses combinations of these three colors to produce a variety of other colors.</string>
		<key>image</key>
		<string>computer monitor RGB.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Helium</string>
		<key>description</key>
		<string>The second-most abundant element in the known universe, Helium is formed by nuclear fusion of hydrogen in stars, and most often used on Earth for cooling superconducting magnets such as in MRI, though is most well-known for party balloons.</string>
		<key>image</key>
		<string>helium.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hydrogen</string>
		<key>description</key>
		<string>The lightest element on the periodic table is also the most abundant in the universe, comprising 75% of all elemental mass. The classification of Hydrogen&apos;s spectral lines was important in the development of quantum mechanics.</string>
		<key>image</key>
		<string>hydrogen.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Iron</string>
		<key>description</key>
		<string>Iron atoms have many electrons, which means more energy levels and more emission lines. While hydrogen only has 3 visible emission lines, iron has hundreds.</string>
		<key>image</key>
		<string>Iron_Spectrum.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Krypton</string>
		<key>description</key>
		<string>Krypton&apos;s large number of spectral lines combine to produce a brilliant whitish light, useful for photography and fluorescent lamps. Often “neon” advertising signs are actually comprised of krypton, then painted to achieve various color outputs. </string>
		<key>image</key>
		<string>krypton.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lithium</string>
		<key>description</key>
		<string>Lithium is only naturally present in compounds, but is useful in heat-resistant, high strength-to-weight ratio materials and effective rechargable batteries. It&apos;s rose-red flame can be seen in flares and pyrotechnics.</string>
		<key>image</key>
		<string>lithium.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Magnesium</string>
		<key>description</key>
		<string>A highly reactive metal, magnesium burns with a brilliant-white light perfect for flares and fireworks. It was used in early photo flashbulbs, and thanks to a high combustion temperature is common for emergency fire starter kits.</string>
		<key>image</key>
		<string>magnesium.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mercury</string>
		<key>description</key>
		<string>Mercury arclamps shoot electrical charge through a volume of mercury gas to produce light. Due to their energy efficiency, mercury lamps are frequently used for streetlights and for industrial lighting. Strong green and violet emission lines give mercury lamps their bluish tint.</string>
		<key>image</key>
		<string>Mercury_Spectra.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Neon</string>
		<key>description</key>
		<string>Neon’s visible light emission spectrum favors orange and red lines, so this gas is frequently used for signs with these colors. “Neon” signs may include several other noble gases, giving them their range of colors.
</string>
		<key>image</key>
		<string>neon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Nitrogen</string>
		<key>description</key>
		<string>By far the most abundant element in the earth’s atmosphere, nitrogen emissions lead to several natural light displays. Electrical current from lightning strikes can excite nitrogen atoms, giving lightning a bluish purple or red tint. Also, charged particles from the sun can cause a similar phenomenon that most frequently gives rise to reddish auroras (northern or southern lights). </string>
		<key>image</key>
		<string>nitrogen.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Overhead Fluorescent</string>
		<key>description</key>
		<string>Much like its compact cousin, overhead fluorescent lights rely on the discharge of a combination of noble gases to produce light.</string>
		<key>image</key>
		<string>overhead fluorescent.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Oxygen</string>
		<key>description</key>
		<string>Oxygen comprises about 26 percent of the earth’s atmosphere. While nitrogen emissions generate red auroras, oxygen emissions typically cause the more common green auroras. Oxygen emissions, however, can also generate other visible colors.</string>
		<key>image</key>
		<string>oxygen.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Potassium</string>
		<key>description</key>
		<string>Potassium’s strongest visible emission lines are in the violet range.</string>
		<key>image</key>
		<string>Potassium_Spectrum.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Radon</string>
		<key>description</key>
		<string>Radon is the most common natural source of exposure to hazardous radioactivity, so you probably shouldn&apos;t be testing it&apos;s emission lines on your smartphone.</string>
		<key>image</key>
		<string>radon.gif</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Silicon</string>
		<key>description</key>
		<string>Most manufacturers have ignored silicon as a light source, but new technology may make silicon a more attractive option. By applying current through a layer of silicon nanocrystals, researchers have successfully harnessed silicon emissions for new, relatively cheap Light Emitting Diodes.</string>
		<key>image</key>
		<string>Silicon_Spectra.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sodium</string>
		<key>description</key>
		<string>Often found in street lamps and other outdoor lighting, sodium-vapor produces an efficient yellow glow that causes less light pollution than common alternatives.</string>
		<key>image</key>
		<string>sodium.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Strontium</string>
		<key>description</key>
		<string>Strontium is another popular element used for teaching chemistry flame tests. When ignited, the element’s emission spectrum combines to produce a red flame.</string>
		<key>image</key>
		<string>strontium.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sulfur</string>
		<key>description</key>
		<string>Sulfur’s visible emission spectrum peaks in the greenish blue range, causing sulfur lamps to emit that color of light. Although sulfur lamps have not seen widespread use, they are becoming increasingly used in commercial applications.</string>
		<key>image</key>
		<string>Sulfur_Spectrum.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Xenon</string>
		<key>description</key>
		<string>Xenon arclamps, which send electrical current through ionized xenon gas, are used primarily for movie projectors and searchlights. Xenon lights have also been used to illuminate the Space Shuttle fleet while the spacecrafts waited on NASA’s launchpad.</string>
		<key>image</key>
		<string>Xenon_Spectrum.jpg</string>
	</dict>
</array>
</plist>
